{
    "subscription_id": "",
    "tenant_id": "",
    "location":"eastus",
    "username": "youralias",
    "_comment1": "for monitoring, use either loganalytics or prometheus only",
    "monitoring": "loganalytics",
    "_comment2": "for state_store, use either cosmos or redis-local only",
    "state_store": "cosmos"
}